.ds-header .navbar-toggler {
              color: var(--primary-color-reverse, #fff);
              background: 0 0;
              box-shadow: none;
              position: absolute;
              right: 0;
              top: 5px;
}

img {
              width: 300px;
              height: 94px;
              position: relative;
              right: 437px;
              top: -11px;
}

.ds-header-logo {
              background: rgb(231, 231, 63);
              height: 70px;
              padding-left: 50px;
}

.btn1 {
              position: absolute;
              left: 69rem;
              top: 21px;
              width: 84px;
              height: 34px;
              border-radius: 4px;
              color: black;
              background: transparent;
              cursor: pointer;
}
.btn2 {
              position: absolute;
              left: 62rem;
              top: 21px;
              width: 100px;
              height: 34px;
              border-radius: 4px;
              color: black;
              background: transparent;
              cursor: pointer;
}

/* .avtaar{
                            position: absolute;
                            left: 70rem;
                            top: 18px;
                            background: transparent;
                        
} */
.btn3{
              position: absolute;
              left: 55rem;
              top: 21px;
              width: 100px;
              height: 34px;
              border-radius: 4px;
              color: black;
              background: transparent;
              cursor: pointer;          
}